<% include ./../../helpers/format-date %>
<% include ./../../helpers/format-summary %>
<% include ./../../helpers/rating-product %>
<% 
  const linkLogoBrand = systemConfig.prefixShop + '/all-brand-product';
  const linkPrefix    = systemConfig.prefixShop + '/';
  const linkShoes    = systemConfig.prefixShop + '/shoes/';
  const linkClothing   = systemConfig.prefixShop + '/clothing/';
  const linkAccessory   = systemConfig.prefixShop + '/accessory/';
  const linkNews    = systemConfig.prefixShop + '/news/';
  const folder_upload_shoes = 'uploads/shoes/';
  const folder_upload_clothing = 'uploads/clothing/';
  const folder_upload_accessory = 'uploads/accessory/';
  const folder_upload_news = 'uploads/articles/';
  const folder_upload_brand = 'uploads/brand/';
  const folder_upload_events = 'uploads/events/';
%>
<div class="ps-section ps-section--hotdeal-3 pt-80 pb-40">
  <div class="ps-container">
    <div class="ps-section__header mb-50">
      <h3 class="ps-section__title" data-mask="Event">- Event</h3>
    </div>
    <div class="ps-section__content">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
          <div class="ps-product--hotdeal reverse">
            <div class="ps-product__thumbnail">
              <a class="ps-product__overlay" href="<%= linkPrefix + itemEvents[0].type + '/' + itemEvents[0].slug %>"></a>
              <img src="<%= folder_upload_events + itemEvents[0].thumb %>" alt="">
            </div>
            <div class="ps-product__content">
              <a class="ps-product__title" href="<%= linkPrefix + itemEvents[0].type + '/' + itemEvents[0].slug %>"><%= itemEvents[0].name %></a>
              <p class="ps-product__price" id="product__price">Only: <span>...</span></p>
              <div class="ps-product__status">
                <div class="sold" id="product__sold">Already sold: <span>...</span></div>
                <div class="avaiable" id="product__available">Avaiable: <span>...</span></div>
              </div>
              <div class="progress" id="progress__bar">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
              </div>
              <ul class="ps-countdown" data-time="<%= moment(itemEvents[0].expiration_date).format('LLL') %>">
                <li><span class="hours"></span><p>Hours</p></li>
                <li class="divider">:</li>
                <li><span class="minutes"></span><p>minutes</p></li>
                <li class="divider">:</li>
                <li><span class="seconds"></span><p>Seconds</p></li>
              </ul>
              <a class="ps-btn" href="<%= linkPrefix + itemEvents[0].type + '/' + itemEvents[0].slug %>">Order Today<i class="ps-icon-next"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
          <a class="ps-offer mb-40" href="<%= linkPrefix + bannerImg[3].link %>">
            <img src="uploads/banner/<%= bannerImg[3].thumb %>" alt="">
          </a>
          <a class="ps-offer" href="<%= linkPrefix + bannerImg[4].link %>">
            <img src="uploads/banner/<%= bannerImg[4].thumb %>" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
          <a class="ps-offer" href="<%= linkPrefix + bannerImg[5].link %>" style="height: 500px;">
            <img src="uploads/banner/<%= bannerImg[5].thumb %>" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ps-section--features-product ps-section masonry-root pt-50 pb-30"> 
  <div class="ps-container">
    <div class="ps-section__header mb-50">
      <h3 class="ps-section__title" data-mask="Shoes">- Features Shoes</h3>
      <ul class="ps-masonry__filter">
        <li class="current"><a href="#" data-filter="*">All <sup><%= lastedShoes.length %></sup></a></li>
        <% itemsBrand.forEach ( (item)=>{ %>
          <li><a href="#" data-filter=".<%= item.name %>"><%= item.name %></a></li>
        <% }) %>
      </ul>
    </div>
    <div class="ps-section__content pb-50">
      <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
        <div class="ps-masonry">
          <% lastedShoes.forEach( (item) => { %>
            <div class="grid-item <%= item.brand.name %>" style="width:360px;height:445px;">
              <div class="grid-item__content-wrapper">
                <div class="ps-shoe mb-30">
                  <div class="ps-shoe__thumbnail">
                    <div class="ps-badge"><span>New</span></div>
                    <% if(item.sale_off > 0) { %>
                      <div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-<%= item.sale_off %>%</span></div>
                    <% } %>
                    <a class="ps-shoe__favorite" href="javascript:void(0)" onclick="favoriteProduct('<%= item._id %>')"><i class="ps-icon-heart"></i></a>
                    <img src="<%= folder_upload_shoes + item.thumb[0] %>" style="width:330px;height:330px;object-fit:cover;" alt="">
                    <a class="ps-shoe__overlay" href="<%= linkShoes + item.slug %>"></a>
                  </div>
                  <div class="ps-shoe__content">
                    <div class="ps-shoe__variants">
                      <div class="ps-shoe__variant normal"> 
                        <% item.thumb.forEach( (image) => { %>
                          <img src="<%= folder_upload_shoes + image %>" alt="">
                        <% }) %>
                      </div>
                      <%- ratingProductHelpers(item.reviews) %>
                    </div>
                    <div class="ps-shoe__detail"><a class="ps-shoe__name" href="<%= linkShoes + item.slug %>"><%= item.name %></a>
                      <p class="ps-shoe__categories"><a href="#"><%= item.category.name %> shoes</a>,<a href="#"> <%= item.brand.name %></a></p>
                      <span class="ps-shoe__price" style="top:20px">
                        <% if(item.sale_off > 0) { %>
                        <del>$<%= item.price %></del> $<%= item.price - (item.price * (item.sale_off/100)) %>
                        <% } else { %>
                          $<%= item.price%>
                        <% } %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ps-section--offer">
  <a class="ps-offer" href="<%= linkPrefix + bannerImg[2].link %>"><img src="uploads/banner/<%= bannerImg[2].thumb %>" style="height: 477px; width: 1530px;" alt=""></a>
</div>
<div class="ps-section ps-section--top-sales ps-owl-root pt-80 pb-10">
  <div class="ps-container">
    <div class="ps-section__header mb-50">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
          <h3 class="ps-section__title" data-mask="Clothing">- Features Clothing</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
          <div class="ps-owl-actions"><a class="ps-prev" href="#"><i class="ps-icon-arrow-right"></i>Prev</a><a class="ps-next" href="#">Next<i class="ps-icon-arrow-left"></i></a></div>
        </div>
      </div>
    </div>
    <div class="ps-section__content">
      <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
        <% specialClothing.forEach( (item) => { %>
          <div class="ps-shoes--carousel">
            <div class="ps-shoe">
              <div class="ps-shoe__thumbnail">
                <% if(item.sale_off > 0) { %>
                  <div class="ps-badge ps-badge--sale"><span>-<%= item.sale_off %>%</span></div>
                <% } %>
                <a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a>
                <img src="<%= folder_upload_clothing + item.thumb[0] %>" alt="">
                <a class="ps-shoe__overlay" href="<%= linkClothing + item.slug %>"></a>
              </div>
              <div class="ps-shoe__content">
                <div class="ps-shoe__variants">
                  <div class="ps-shoe__variant normal">
                    <% item.thumb.forEach( (image) => { %>
                      <img src="<%= folder_upload_clothing + image %>" alt="">
                    <% }) %>
                  </div>
                  <%- ratingProductHelpers(item.reviews) %>
                </div>
                <div class="ps-shoe__detail"><a class="ps-shoe__name" href="<%= linkClothing + item.slug %>"><%= item.name %></a>
                  <p class="ps-shoe__categories"><a href="#"><%= item.category.name %></a>,<a href="#"> <%= item.brand.name %></a></p>
                  <span class="ps-shoe__price"> 
                    <% if(item.sale_off > 0) { %>
                    <del>$<%= item.price %></del> $<%= item.price - (item.price * (item.sale_off/100)) %>
                    <% } else { %>
                      $<%= item.price%>
                    <% } %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<div class="ps-section ps-section--top-sales ps-owl-root pt-10 pb-20">
  <div class="ps-container">
    <div class="ps-section__header mb-50">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
          <h3 class="ps-section__title" data-mask="Accessory">- Features Accessory</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
          <div class="ps-owl-actions"><a class="ps-prev" href="#"><i class="ps-icon-arrow-right"></i>Prev</a><a class="ps-next" href="#">Next<i class="ps-icon-arrow-left"></i></a></div>
        </div>
      </div>
    </div>
    <div class="ps-section__content">
      <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
        <% specialAccessory.forEach( (item) => { %>
          <div class="ps-shoes--carousel">
            <div class="ps-shoe">
              <div class="ps-shoe__thumbnail">
                <% if(item.sale_off > 0) { %>
                  <div class="ps-badge ps-badge--sale"><span>-<%= item.sale_off %>%</span></div>
                <% } %>
                <a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a>
                <img src="<%= folder_upload_accessory + item.thumb[0] %>" alt="">
                <a class="ps-shoe__overlay" href="<%= linkAccessory + item.slug %>"></a>
              </div>
              <div class="ps-shoe__content">
                <div class="ps-shoe__variants">
                  <div class="ps-shoe__variant normal">
                    <% item.thumb.forEach( (image) => { %>
                      <img src="<%= folder_upload_accessory + image %>" alt="">
                    <% }) %>
                  </div>
                  <%- ratingProductHelpers(item.reviews) %>
                </div>
                <div class="ps-shoe__detail"><a class="ps-shoe__name" href="<%= linkAccessory + item.slug %>"><%= item.name %></a>
                  <p class="ps-shoe__categories"><a href="#"><%= item.category.name %></a>,<a href="#"> <%= item.brand.name %></a></p>
                  <span class="ps-shoe__price"> 
                    <% if(item.sale_off > 0) { %>
                    <del>$<%= item.price %></del> $<%= item.price - (item.price * (item.sale_off/100)) %>
                    <% } else { %>
                      $<%= item.price%>
                    <% } %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<div class="ps-section--offer">
  <div class="ps-column"><a class="ps-offer" href="<%= linkPrefix + bannerImg[0].link %>"><img src="uploads/banner/<%= bannerImg[0].thumb %>" style="height: 477px; width: 1530px;" alt=""></a></div>
  <div class="ps-column"><a class="ps-offer" href="<%= linkPrefix + bannerImg[1].link %>"><img src="uploads/banner/<%= bannerImg[1].thumb %>" style="height: 477px; width: 1530px;" alt=""></a></div>
</div>
<div class="ps-features pt-80 pb-80">
  <div class="ps-container">
    <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
            <div class="ps-iconbox">
              <div class="ps-iconbox__header"><i class="ps-icon-delivery"></i>
                <h3>Free shipping</h3>
                <p>ON ORDER OVER $199</p>
              </div>
              <div class="ps-iconbox__content">
                <p>Want to track a package? Find tracking information and order details from Your Orders.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
            <div class="ps-iconbox">
              <div class="ps-iconbox__header"><i class="ps-icon-money"></i>
                <h3>100% MONEY BACK.</h3>
                <p>WITHIN 30 DAYS AFTER DELIVERY.</p>
              </div>
              <div class="ps-iconbox__content">
                <p>You may return most new, unopened items sold within 30 days of delivery for a full refund.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
            <div class="ps-iconbox">
              <div class="ps-iconbox__header"><i class="ps-icon-customer-service"></i>
                <h3>SUPPORT 24/7.</h3>
                <p>WE CAN HELP YOU ONLINE.</p>
              </div>
              <div class="ps-iconbox__content">
                <p>We offer a 24/7 customer hotline so you’re never alone if you have a question.</p>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
<div class="ps-section--features-product ps-section masonry-root pt-50 pb-30"> 
  <div class="ps-container">
    <div class="ps-section__header mb-50">
      <h3 class="ps-section__title" data-mask="Hots News">- News</h3>
      <ul class="ps-masonry__filter">
        <li class="current"><a href="#" data-filter="*">All</a></li>
        <% itemsCategory.forEach ( (item)=>{ %>
          <li><a href="#" data-filter=".<%= item.name %>"><%= item.name %></a></li>
        <% }) %>
      </ul>
    </div>
    <div class="ps-section__content pb-50">
      <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
        <div class="ps-masonry">
          <div class="grid-sizer"></div>
          <% for(let i = 0; i < lastedNews.length; i++) { %>
            <div class="grid-item <%= lastedNews[i].category.name %>" style="width: 360px;height: 438px;">
              <div class="grid-item__content-wrapper">
                  <div class="ps-post">
                    <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="<%= linkNews + lastedNews[i].slug %>"></a><img src="<%= folder_upload_news + lastedNews[i].thumb %>" style="height: 235px; width: 450px;" alt=""></div>
                    <div class="ps-post__content"><a class="ps-post__title" href="<%= linkNews + lastedNews[i].slug %>"><%= lastedNews[i].name %></a>
                      <p class="ps-post__meta"><span>By:<a class="mr-5" href="#">Alena Studio</a></span> -<span class="ml-5"><%= formatDate(lastedNews[i].created.time) %></span></p>
                      <p><%= formatSummaryHelper(lastedNews[i].summary) %>…</p><a class="ps-morelink" href="<%= linkNews + lastedNews[i].slug %>">Read more<i class="fa fa-long-arrow-right"></i></a>
                    </div>
                  </div>
              </div>
            </div>
          <% } %>
      </div>
    </div>
  </div>
</div>
<div class="ps-section ps-section--top-sales ps-owl-root pt-40 pb-40">
  <div class="ps-container">
    <div class="ps-section__header mb-50">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
          <h3 class="ps-section__title" data-mask="Trending News">- Trending News</h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
          <div class="ps-owl-actions"><a class="ps-prev" href="#"><i class="ps-icon-arrow-right"></i>Prev</a><a class="ps-next" href="#">Next<i class="ps-icon-arrow-left"></i></a></div>
        </div>
      </div>
    </div>
    <div class="ps-section__content">
      <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
        <% for(let i = 0; i < specialNews.length; i++) { %>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="ps-post">
              <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="<%= linkNews + specialNews[i].slug %>"></a><img src="<%= folder_upload_news + specialNews[i].thumb %>" style="height: 235px; width: 450px;" alt=""></div>
              <div class="ps-post__content"><a class="ps-post__title" href="<%= linkNews + specialNews[i].slug %>"><%= specialNews[i].name %></a>
                <p class="ps-post__meta"><span>By:<a class="mr-5" href="#">Alena Studio</a></span> -<span class="ml-5"><%= formatDate(specialNews[i].created.time) %></span></p>
                <p><%= formatSummaryHelper(specialNews[i].summary) %>…</p><a class="ps-morelink" href="<%= linkNews + specialNews[i].slug %>">Read more<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="ps-section--offer" id="logo-brand" data-url="<%= linkLogoBrand%>" style="margin-left: 25px;">
  <div class="text-center"><img src="frontend/shop/images/loading.gif" alt=""></div>
</div>
