<% include ./../../helpers/format-date %>
<% include ./../../helpers/change-alias %>
<% 
    const folder_uploads = "uploads/articles/"; 
    const linkPrefix     = systemConfig.prefixBlog + '/article/';    
%>

<div class="container-fluid paddding mb-5">
    <div class="row mx-0">
        <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
            <div class="fh5co_suceefh5co_height"><img src="<%= folder_uploads + itemsSpecial[0].thumb %>" alt="img"/>
                <div class="fh5co_suceefh5co_height_position_absolute"></div>
                <div class="fh5co_suceefh5co_height_position_absolute_font">
                    <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<%= formatDate(itemsSpecial[0].created.time) %>
                    </a></div>
                    <div class=""><a href="<%= linkPrefix + itemsSpecial[0].id %>" class="fh5co_good_font"> <%= itemsSpecial[0].name %> </a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <% for(let i = 1; i < itemsSpecial.length; i++) { %>
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2"><img src="<%= folder_uploads + itemsSpecial[i].thumb %>" alt="img"/>
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<%= formatDate(itemsSpecial[i].created.time) %> </a></div>
                                <div class=""><a href="<%= linkPrefix + itemsSpecial[i].id %>" class="fh5co_good_font_2"> <%= itemsSpecial[i].name %> </a></div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
