<% 
  const folder_upload = 'uploads/shoes/';
  const linkShoes    = systemConfig.prefixShop + '/shoes/';
%>

<div class="ps-products-wrap pt-80 pb-80">
    <div class="ps-products" data-mh="product-listing">
      <div class="ps-product-action">
        <div class="ps-product__filter"> 
          <select name="sort-product" class="ps-select selectpicker">
            <option value="0">Sort by</option>
            <option value="name-asc">Name (a -> z)</option>
            <option value="name-desc">Name (z -> a)</option>
            <option value="price-asc">Price (Low to High)</option>
            <option value="price-desc">Price (High to Low)</option>
          </select>
        </div>
        <div class="ps-pagination">
          <ul class="pagination"> 
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="ps-product__columns" id="product-area">
        <% itemsInCategory.forEach( (item) => { %>
          <div class="ps-product__column" style="width:302.3px;height:372.3px">
            <div class="ps-shoe mb-30" style="width:272.3px;height:342.3px">
              <div class="ps-shoe__thumbnail">
                <% if(item.sale_off > 0) { %>
                  <div class="ps-badge ps-badge--sale"><span>-<%= item.sale_off %>%</span></div>
                <% } %>
                <a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a>
                <img src="<%= folder_upload + item.thumb[1] %>" alt=""><a class="ps-shoe__overlay" href="<%= linkShoes + item.slug %>"></a>
              </div>
              <div class="ps-shoe__content">
                <div class="ps-shoe__variants">
                  <div class="ps-shoe__variant normal">
                    <img src="<%= folder_upload + item.thumb[0] %>" alt="">
                    <img src="<%= folder_upload + item.thumb[1] %>" alt="">
                    <img src="<%= folder_upload + item.thumb[2] %>" alt="">
                    <img src="<%= folder_upload + item.thumb[3] %>" alt="">
                  </div>
                  <select class="ps-rating ps-shoe__rating">
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="2">5</option>
                  </select>
                </div>
                <div class="ps-shoe__detail"><a class="ps-shoe__name" href="<%= linkShoes + item.slug %>"><%= item.name %></a>
                  <p class="ps-shoe__categories"><a href="#"><%= item.category.name %> shoes</a>,<a href="#"> <%= item.brand.name %></a></p>
                  <span class="ps-shoe__price">
                    <% if(item.sale_off > 0) { %>
                      <del>$<%= item.price %></del> $<%= item.price - (item.price * (item.sale_off/100)) %>
                      <% } else { %>
                        $<%= item.price%>
                      <% } %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="ps-product-action">
        <div class="ps-product__filter">
          <select name="sort-product" class="ps-select selectpicker"> 
            <option value="0">Sort by</option>
            <option value="name-asc">Name (a -> z)</option>
            <option value="name-desc">Name (z -> a)</option>
            <option value="price-asc">Price (Low to High)</option>
            <option value="price-desc">Price (High to Low)</option>
          </select>
        </div>
        <div class="ps-pagination">
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <% include ./../../elements/sidebar-category %>
  </div>