<% include ./../helpers/user-menu-frontend %>
<% 
    const linkLogout = `/auth/logout/`;
    const linkLogin = `/auth/login/`;
    const folderUpload 	= 'uploads/users/';
    const linkPrefix = systemConfig.prefixAdmin + '/';
%>
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-left no-padding">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ton.ho.545/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-behance"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <% if(Object.keys(userInfo).length > 0) {%>
                    <%- userMenuHelpers(folderUpload, linkPrefix, userInfo) %>
                <% } else { %>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-right no-padding">
                        <a href="<%= linkLogin %>">
                            LOGIN
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="logo-wrap">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-12 logo-left no-padding">
                    <a href="index.html">
                        <img class="img-fluid" src="img/logo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 logo-right no-padding ads-banner">
                    <img class="img-fluid" src="img/banner-ad.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu" id="main-menu">
        <button type="button" id="mobile-nav-toggle">
            <i class="lnr lnr-menu"></i>
            <span class="menu-title">Menu</span>
        </button>
        <div class="row align-items-center justify-content-between">
            <nav id="nav-menu-container">
                <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                    <li class="menu-active">
                        <a href="/">Home</a>
                    </li>
                    <li class="menu-has-children">
                        <a href="" class="sf-with-ul">Category</a>
                        <ul style="display: none;">
                            <% if(itemsCategory.length > 0) { %>
                                <% itemsCategory.forEach ( (item)=>{ %>
                                <li>
                                    <a href="category/<%= item.slug %>"><%= item.name %></a>
                                </li>
                                <% }) %>
                            <% } else { %>
                                <tr ><td colspan="9"><h3>Không có dữ liệu</h3></td></tr>
                            <% } %>	
                        </ul>
                    </li>
                    <li>
                        <a href="">RSS</a>
                        <ul style="display: none;">
                            <li>
                                <a href="rss">Thể thao</a>
                            </li>
                            <li>
                                <a href="gold-price">Giá vàng</a>
                            </li>
                            <li>
                                <a href="coin-price">Giá Coin</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
            <div class="navbar-right">
                <form class="Search">
                    <input type="text" class="form-control Search-box" name="Search-box" id="Search-box" placeholder="Search">
                    <label for="Search-box" class="Search-box-label">
                        <span class="lnr lnr-magnifier"></span>
                    </label>
                    <span class="Search-close">
                        <span class="lnr lnr-cross"></span>
                    </span>
                </form>
            </div>
        </div>
        <nav id="mobile-nav">
            <ul class="" style="touch-action: pan-y;" id="">
                <li class="menu-active">
                    <a href="#">Home</a>
                </li>
                <li class="menu-has-children">
                    <i class="lnr lnr-chevron-down"></i>
                    <a href="" class="sf-with-ul">Category</a>
                    <ul style="display: none;">
                        <% itemsCategory.forEach ( (item)=>{ %>
                            <li>
                                <a href="category/<%= item.id %>"><%= item.name %></a>
                            </li>
                        <% }) %>
                    </ul>
                </li>
                <li>
                    <a href="about">About</a>
                </li>
                <li>
                    <a href="contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div id="mobile-body-overly"></div>
    </div>
</header>