<% 
    const linkPrefix     = systemConfig.prefixBlog + '/category/';    
%>
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#"><img src="frontend/blog/images/logo.png" alt="img" class="mobile_logo_width"/></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link f-150" href="<%= systemConfig.prefixBlog %>/" data-active="">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle f-150" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" data-active="category">Thể loại<span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <% itemsCategory.forEach ( (item)=>{ %>
                                <a class="dropdown-item" href="<%= linkPrefix + item.slug %>"><%= item.name %></a>
                            <% }) %>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link f-150" href="<%= systemConfig.prefixBlog %>/rss" data-active="rss">Tin tức tổng hợp <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link f-150" href="<%= systemConfig.prefixBlog %>/about" data-active="about">Giới thiệu <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link f-150" href="<%= systemConfig.prefixBlog %>/contact" data-active="contact">Liên hệ <span class="sr-only">(current)</span></a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </div>
</div>