<% 
  let total = 0;
%>
<div class="ps-checkout pt-80 pb-80">
	<div class="ps-container">
	  	<form class="ps-checkout__form" action="/checkout/save" method="post">
			<div class="row">
			  	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
					<div class="ps-checkout__billing">
				  		<h3>Billing Detail</h3>
						<div class="form-group form-group--inline">
						  <label>First Name<span>*</span></label>
						  <input class="form-control" type="text" name="first_name">
						</div>
						<div class="form-group form-group--inline">
						  <label>Last Name<span>*</span></label>
						  <input class="form-control" type="text" name="last_name">
						</div>
						<div class="form-group form-group--inline">
						  <label>Email Address<span>*</span></label>
						  <input class="form-control" type="email" name="email">
						</div>
						<div class="form-group form-group--inline">
							<label>Phone<span>*</span></label>
							<input class="form-control" type="text" name="phone">
						</div>
						<div class="form-group form-group--inline">
						  <label>Province<span>*</span></label>
						  <select class="form-control ps-select" name="ls_province"></select>
						  <input class="form-control" name="province" value="" type="hidden" >
						</div>
						<div class="form-group form-group--inline">
							<label>District<span>*</span></label>
							<select class="form-control ps-select" name="ls_district"></select>
							<input class="form-control" name="district" value="" type="hidden" >
						</div>
						<div class="form-group form-group--inline">
							<label>Ward<span>*</span></label>
							<select class="form-control ps-select" name="ls_ward"></select>
							<input class="form-control" name="ward" value="" type="hidden" >
						</div>
						<div class="form-group form-group--inline">
						  <label>Address details<span>*</span></label>
						  <input class="form-control" type="text" name="address">
						</div>
				  		<h3 class="mt-40"> Addition information</h3>
						<div class="form-group form-group--inline textarea">
							<label>Order Notes</label>
							<textarea class="form-control" rows="5" name="message" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
						</div>
					</div>
			  	</div>
			  	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
					<div class="ps-checkout__order">
						<header>
							<h3>Your Order</h3>
						</header>
						<div class="content">
							<table class="table ps-checkout__products">
								<thead>
									<tr>
									<th class="text-uppercase">Product</th>
									<th class="text-uppercase">Quantity</th>
									<th class="text-uppercase">Price</th>
									</tr>
								</thead>
								<tbody>
									<% items.forEach( (item) => { %>
										<% total += item.price * item.quantity %>
										<tr>
											<td><%= item.name %></td>
											<td class="text-center"><%= item.quantity %></td>
											<td class="text-center">$<%= item.quantity * item.price %></td>
										</tr>
									<% }); %>
								</tbody>
							</table>
						</div>
						<footer>
							<h3>Total</h3>
							<div class="form-group cheque">
								<div class="form-group form-group--inline">
									<label><h4 style="color: #ffff;">Shipping fee:</h4></label>
									<div class="margin-left-110" id="shipping-fee">+$ 0</div>
									<input class="form-control" name="shipping_fee" value="" type="hidden" >
								</div>
								<% if(sale_off > 0) { %>
									<div class="form-group form-group--inline">
										<label><h4 style="color: #ffff;">Promotional Code:</h4></label>
										<div class="margin-left-110">-$ <%= sale_off %></div>
									</div>
								<% }%>
								<div class="form-group form-group--inline">
									<label><h4 style="color: #ffff;">Total:</h4></label>
									<div class="margin-left-110" id="total-price">$ <%= total - sale_off %></div>
								</div>
							</div>
							<div class="form-group paypal">
								<button class="ps-btn ps-btn--fullwidth">Place Order<i class="ps-icon-next"></i></button>
							</div>
						</footer>
					</div>
					<div class="ps-shipping">
						<h3>FREE SHIPPING</h3>
						<p>YOUR ORDER QUALIFIES FOR FREE SHIPPING.<br> <a href="#"> Sign up </a> for free shipping on every order, every time.</p>
					</div>
			  	</div>
			</div>
	  	</form>
	</div>
</div>
