<% include ./../../helpers/filter-status %>
<% include ./../../helpers/action %>
<% include ./../../helpers/pagination %>
<% include ./../../helpers/status %>
<% include ./../../helpers/highlight %>
<% include ./../../helpers/checkbox %>
<% include ./../../helpers/info-user %>
<% include ./../../helpers/sort %>
<% include ./../../helpers/selectBox %>
<% include ./../../helpers/image %>

<% 
	const folderUpload 	= 'slider/';
	const collection = "slider";
	const linkPrefix = systemConfig.prefixAdmin + `/${collection}/`;
%>

<% include ./../../elements/notify %>

<div class="card card-info card-outline">
	<div class="card-header">
		<h6 class="card-title">Search & Filter</h6>
		<div class="card-tools">
			<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
				<i class="fas fa-minus"></i></button>
		</div>
	</div>
	<div class="card-body">
		<div class="row justify-content-between">
			<div class="mb-1">
				<%- filterStatusHelper(linkPrefix, statusFilter, params) %>
			</div>
			<div class="mb-1">
				<form action="<%= linkPrefix %>status/<%= params.currentStatus %>" method="GET">
					<div class="input-group">
						<input type="text" class="form-control form-control-sm" name="keyword" placeholder="Search for..." value="<%= params.keyword %>" style="min-width: 300px">
						<div class="input-group-append">
							<a class="btn btn-sm btn-danger" type="button" href="<%= linkPrefix %>status/<%= params.currentStatus %>" id="btn-clear-search">Clear</a>
							<button type="submit" class="btn btn-sm btn-info" id="btn-search">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="card card-info card-outline">
	<div class="card-header">
		<h4 class="card-title">List Users</h4>
		<div class="card-tools">
			<a href="<%= linkPrefix %>status/all" class="btn btn-tool"><i class="fas fa-sync"></i></a>
			<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
		</div>
	</div>

	<div class="card-body">
		<!--Control-->
		<form role="form" class="table-responsive" id="zt-form" action="" method="post">

			<%- actionHelper(linkPrefix) %>

			<table class="table table-bordered table-hover text-nowrap btn-table mb-0">
				<thead>
					<tr>
						<th class="text-center">
							<div class="custom-control custom-checkbox">
								<input class="custom-control-input" type="checkbox" id="cbAll">
								<label for="cbAll" class="custom-control-label"></label>
							</div>
						</th>
						<th class="text-center">ID</th>
						<%- sortHelper(linkPrefix, 'Name', 'name', params.sortField, params.sortType, 'width:20%') %>
						<th class="text-center">Link</th>
						<th class="text-center">Thumb</th>
						<%- sortHelper(linkPrefix, 'Status', 'status', params.sortField, params.sortType) %>
						<%- sortHelper(linkPrefix, 'Ordering', 'ordering', params.sortField, params.sortType) %>
						<th class="text-center">Modified</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					<% if(items.length > 0) { %>
						<% items.forEach( (item, index) => { %>
							<tr>
								<td class="text-center">
									<%- checkboxHelper(item.id)%>
								</td>
								<td class="text-center"><%= index+1 %></td>
								<td class="text-center"><%- highlightHelper(item.name, params.keyword)%></td>
								<td class="text-center"><%= item.link %></td>
								<td class="text-center"><%- imageHelper(folderUpload, item.thumb, 'no-avatar.png', item.name) %></td>
								<td class="text-center position-relative"><%- statusHelper(linkPrefix, 'status', item.status, item.id) %></td>
								<td class="text-center position-relative"><input type="number" name="ordering<%= item.id %>" value="<%= item.ordering %>" class="ordering form-control form-control-sm m-auto text-center" style="width: 65px" id="ordering<%= item.id %>" data-id="<%= item.id %>" min="1"></td>
								<% if(item.modified.user_name === undefined) { %>
									<td class="text-center"><%- userHelper(item.created.user_name, item.created.time) %></td>
								<% } else { %>
									<td class="text-center"><%- userHelper(item.modified.user_name, item.modified.time) %></td>
								<% } %>
								<td class="text-center">
									<a href="<%= linkPrefix %>form/<%= item.id %>" type="button" class="rounded-circle btn btn-sm btn-info" title="Edit">
										<i class="fas fa-pencil-alt"></i>
									</a>
									<a href="<%= linkPrefix %>delete/<%= item.id %>" type="button" class="rounded-circle btn btn-sm btn-danger" title="Delete">
										<i class="fas fa-trash-alt"></i>
									</a>
								</td>
							</tr>
						<% }) %>
					<% } else { %>
						<tr ><td colspan="9"><h3>Không có dữ liệu</h3></td></tr>
					<% } %>	
				</tbody>
			</table>
		</form>
	</div>
	<div class="card-footer clearfix">
		<%- paginationHelper(params.pagination, linkPrefix, params.currentStatus, params.keyword) %>
	</div>
</div>

