<% include ./../helpers/menu-sidebar %>
<%
    let articleManagement = [
        {name: 'Category', icon: 'fa-table', link: `${systemConfig.prefixAdmin}/article-category`, activeValue: 'category'},
        {name: 'Articles', icon: 'fa-book-open', link: `${systemConfig.prefixAdmin}/articles`, activeValue: 'articles'},
        {name: 'Rss', icon: 'fa-tag', link: `${systemConfig.prefixAdmin}/rss`, activeValue: 'rss'},
    ];
    let userManagement = [
        {name: 'Groups', icon: 'fa-users', link: `${systemConfig.prefixAdmin}/groups`, activeValue: 'groups'},
        {name: 'Users', icon: 'fa-user', link: `${systemConfig.prefixAdmin}/users`, activeValue: 'users'},
    ];
    let shopManagement = [
        {name: 'Category', icon: 'fa-th-list', link: `${systemConfig.prefixAdmin}/product-category`, activeValue: 'category-product'},
        {name: 'Products', icon: 'fa-star', link: `${systemConfig.prefixAdmin}/products`, activeValue: 'users'},
    ];
%>
<aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a href="/<%=systemConfig.prefixAdmin%>/" class="brand-link">
        <img src="backend/images/logo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ADMIN</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="uploads/users/<%= userInfo.avatar %>" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"><%= userInfo.name %></a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="/<%=systemConfig.prefixAdmin%>/dashboard" class="nav-link" data-active="dashboard">
                      <i class="nav-icon fas fa-database"></i>
                      <p>Dashboard</p>
                    </a>
                    <a href="/<%=systemConfig.prefixAdmin%>/items" class="nav-link" data-active="items">
                        <i class="nav-icon fas fa-file"></i>
                        <p>Items</p>
                    </a>
                    <%- menuSidebarHelper('Quản lý user', userManagement, 'fa-male') %>
                    <%- menuSidebarHelper('Quản lý bài viết', articleManagement, 'fa-newspaper') %>
                    <%- menuSidebarHelper('Quản lý sản phẩm', shopManagement, 'fa-shopping-cart') %>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
