<% include ./../helpers/menu-sidebar %>
<%
    let articleManagement = [
        {name: 'Category', icon: 'fa-table', link: `${systemConfig.prefixAdmin}/category`, activeValue: 'category'},
        {name: 'Articles', icon: 'fa-book-open', link: `${systemConfig.prefixAdmin}/articles`, activeValue: 'articles'},
        {name: 'Rss', icon: 'fa-tag', link: `${systemConfig.prefixAdmin}/rss`, activeValue: 'rss'},
    ];
    let userManagement = [
        {name: 'Groups', icon: 'fa-users', link: `${systemConfig.prefixAdmin}/groups`, activeValue: 'groups'},
        {name: 'Users', icon: 'fa-user', link: `${systemConfig.prefixAdmin}/users`, activeValue: 'users'},
    ];
    let shopManagement = [
        {name: 'Category', icon: 'fa-th-list', link: `${systemConfig.prefixAdmin}/product-category`, activeValue: 'category-product'},
        {name: 'Brand', icon: 'fa-bookmark', link: `${systemConfig.prefixAdmin}/brand`, activeValue: 'brand'},
        {name: 'Shoes', icon: 'fa-star', link: `${systemConfig.prefixAdmin}/shoes`, activeValue: 'shoes'},
        {name: 'Clothing', icon: 'fa-star', link: `${systemConfig.prefixAdmin}/clothing`, activeValue: 'clothing'},
    ];
    let customerManagement = [
        {name: 'Contact', icon: 'fa-user-plus', link: `${systemConfig.prefixAdmin}/contact`, activeValue: 'contact'},
        {name: 'Subscribe', icon: 'fa-user-plus', link: `${systemConfig.prefixAdmin}/subscribe`, activeValue: 'subscribe'},
    ];
%>

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a href="/<%=systemConfig.prefixAdmin%>/" class="brand-link">
        <img src="backend/images/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ZendVN</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="backend/images/default-user.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Admin ZendVN</a>
            </div>
        </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/<%=systemConfig.prefixAdmin%>/dashboard" class="nav-link" data-active="dashboard">
            <i class="nav-icon fas fa-database"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/<%=systemConfig.prefixAdmin%>/config" class="nav-link" data-active="config">
            <i class="nav-icon fas fa-book-dead"></i>
            <p>
              Config
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-header">DATABASE</li>
        <%- menuSidebarHelper('Quản lý user', userManagement, 'fa-male') %>
        <%- menuSidebarHelper('Quản lý bài viết', articleManagement, 'fa-newspaper') %>
        <%- menuSidebarHelper('Quản lý sản phẩm', shopManagement, 'fa-shopping-cart') %>
        <li class="nav-item">
          <a href="/<%=systemConfig.prefixAdmin%>/slider" class="nav-link" data-active="slider">
            <i class="nav-icon fas fa-map"></i>
            <p>Slider</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/<%=systemConfig.prefixAdmin%>/banner" class="nav-link" data-active="banner">
            <i class="nav-icon fas fa-book"></i>
            <p>Banner</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/<%=systemConfig.prefixAdmin%>/orders" class="nav-link" data-active="orders">
            <i class="nav-icon fas fa-file"></i>
            <p>Quản lý đơn hàng</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/<%=systemConfig.prefixAdmin%>/promo" class="nav-link" data-active="promo">
            <i class="nav-icon fas ion-cash"></i>
            <p>Quản lý mã giảm giá</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/<%=systemConfig.prefixAdmin%>/shipping" class="nav-link" data-active="shipping">
            <i class="nav-icon fas ion-flash"></i>
            <p>Quản lý phí vận chuyển<span class="badge badge-info right">63</span></p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/<%=systemConfig.prefixAdmin%>/contact" class="nav-link" data-active="contact">
            <i class="nav-icon fas fa-user"></i>
            <p>Contact</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/<%=systemConfig.prefixAdmin%>/subscribe" class="nav-link" data-active="subscribe">
            <i class="nav-icon fas fa-user-plus"></i>
            <p>Subscribe</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>