<% include ./../../helpers/format-date %>
<% include ./../../helpers/get-src %>
<% include ./../../helpers/get-summary %>

<div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
    <div>
        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tin tức tổng hợp</div>
    </div>
    <% itemsRSS.forEach( (item) => { %>
    <div class="row pb-4">
        <div class="col-md-5">
            <div class="fh5co_hover_news_img">
                <div class="fh5co_news_img"><img src="<%- getSrc(item.description) %>" alt="<%= item.name %>"/></div>
                <div></div>
            </div>
        </div>
        <div class="col-md-7 animate-box">
            <a href="<%= item.link %>" class="fh5co_magna py-2"> <%= item.title %> </a> 
            <a href="#" class="fh5co_mini_time py-3"> Thomson Smith -
            April 18,2016 </a>
            <div class="fh5co_consectetur"> 
                <%- getSummary(item.description) %>
            </div>
        </div>
    </div>
    <% }) %>
</div>