<% include ./../../helpers/format-date %>
<% include ./../../helpers/get-src %>
<% include ./../../helpers/get-summary %>

<div class="col-lg-8 post-list">
    <!-- Start latest-post Area -->
    <div class="latest-post-wrap">
        <h4 class="cat-title">RSS Thể thao</h4>
        <% if(itemsSport.length > 0) { %>
            <% itemsSport.forEach( (item) => { %>
                <div class="single-latest-post row align-items-center">
                    <div class="col-lg-5 post-left">
                        <div class="feature-img relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src=<%- getSrc(item.description[0]) %> alt="<%= item.name %>">
                        </div>
                    </div>
                    <div class="col-lg-7 post-right">
                        <a href="<%= item.link[0] %>">
                            <h4><%= item.title[0] %></h4>
                        </a>
                        <p class="excert">
                            <%- getSummary(item.description[0]) %>
                        </p>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <tr ><td colspan="9"><h3>Không có dữ liệu</h3></td></tr>
        <% } %>
        <div class="load-more">
            <a href="#" class="primary-btn">Load More Posts</a>
        </div>

    </div>
    <!-- End latest-post Area -->
</div>