<% include ./../../helpers/rating-product %>
<% include ./../../helpers/price %>
<% 
  const folder_upload = 'uploads/';
  const linkPrefix    = systemConfig.prefixShop + '/';
  const linkAdsBanner    = systemConfig.prefixShop + '/ads-banner/';
%>

<div class="pr-10 pl-10 pt-10 pb-80">
  <div class="ps-product-action">
  </div>
  <div class="ps-product__columns" id="product-area" style="margin-left: 1px;">
    <div class="ps-section__header mb-50" style="text-align:center;">
      <h2 class="ps-section__title title-header" style="text-align:center;" data-mask="<%= pageTitle %>"> <%= pageTitle %></h2>
      <hr>
    </div>
    <div class="ps-section__content">
      <% items.forEach( (item) => { %>
        <div class="ps-product__column" style="width:300px;height:370px">
          <div class="ps-shoe mb-30" style="width:270px;height:340px">
            <div class="ps-shoe__thumbnail">
              <% if(item.sale_off > 0) { %>
                <div class="ps-badge ps-badge--sale"><span>-<%= item.sale_off %>%</span></div>
              <% } %>
              <a class="ps-shoe__favorite" href="javascript:void(0)" onclick="favoriteProduct('<%= item._id %>', '<%= item.name %>', '<%= item.product_type %>', '<%= item.thumb[0] %>')"><i class="ps-icon-heart"></i></a>
              <img src="<%= folder_upload + item.product_type + '/' + item.thumb[0] %>" style="width:272px;height:272px;object-fit:cover;" alt="">
              <a class="ps-shoe__overlay" href="<%= linkPrefix + item.product_type + '/' + item.slug %>"></a>
            </div>
            <div class="ps-shoe__content">
              <div class="ps-shoe__variants">
                <div class="ps-shoe__variant normal">
                  <% item.thumb.forEach( (image) => { %>
                    <img src="<%= folder_upload + item.product_type + '/' + image %>" alt="">
                  <% }) %>
                </div>
                <%- ratingProductHelpers(item.reviews) %>
              </div>
              <div class="ps-shoe__detail"><a class="ps-shoe__name" href="<%= linkPrefix + item.product_type + '/' + item.slug %>"><%= item.name %></a>
                <p class="ps-shoe__categories"><a href="#"><%= item.category.name %> shoes</a>,<a href="#"> <%= item.brand.name %></a></p>
                <span class="ps-shoe__price">
                  <%- priceHelper(item.sale_off, item.price) %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>