<% include ./../../helpers/format-date %>

<div class="col-lg-8 post-list">
    <!-- Start latest-post Area -->
    <div class="latest-post-wrap">
        <h4 class="cat-title">Giá vàng ở <%= address %> (Đơn vị tính: <%= itemInfo.unit %>)</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Loại Vàng</th>
                    <th scope="col">Mua</th>
                    <th scope="col">Bán</th>
                </tr>
                </thead>
                <tbody>
                    <% if(items.length > 0) { %>
                        <% items.forEach( (item, index) => { %>
                            <tr>
                                <th scope="row"><%= index+1 %></th>
                                <td><%= item['$'].type %></td>
                                <td><%= item['$'].buy %></td>
                                <td><%= item['$'].sell %></td>
                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr ><td colspan="9"><h3>Không có dữ liệu</h3></td></tr>
                    <% } %>
                </tbody>
            </table>
            <p class="lead">
                Cập nhật lúc <%= (itemInfo.updated) %>
            </p>
    </div>
    <!-- End latest-post Area -->
</div>