<% include ./../../elements/errors %>
<% include ./../../helpers/selectBox %>
<% include ./../../helpers/radioBox %>
<% include ./../../helpers/input %>
<% include ./../../helpers/textarea %>
<% include ./../../helpers/form-input %>
<% include ./../../helpers/image %>
<% include ./../../helpers/image %>


<% 
	const folderUpload 	= "uploads/articles/";
	const collection 	= "articles";
	const linkPrefix	= systemConfig.prefixAdmin + `/${collection}/`;


	let elementsForm = [
		{for: 'name', label: 'Name', input: inputHelper('name', article.name, 'text', 'name_slug')},
		{for: 'slug', label: 'Slug', input: inputHelper('slug', article.slug)},
		{for: 'thumb', label: 'Thumb', input: inputHelper('thumb', article.name, 'file')},
		{for: 'showThumb', label: '', input: imageHelper(folderUpload, article.thumb, 'no-image.jpg', article.name, 'img-avatar-form preview-thumb')},
		{for: 'ordering', label: 'Ordering', input: inputHelper('ordering', article.ordering)},
		{for: 'status', label: 'Status', input: selectBoxHelper('status', systemConfig.status_value, article.status)},
		{for: 'special', label: 'Special', input: selectBoxHelper('special', systemConfig.status_value, article.special)},
		{for: 'trending', label: 'Trending', input: selectBoxHelper('trending', systemConfig.status_value, article.trending)},
		{for: 'category', label: 'Category', input: selectBoxHelper('category_id', categoryItems, article.category_id)},
		{for: 'summary', label: 'Summary', input: inputHelper('summary', article.summary)},
		{for: 'content', label: 'Content', input: textareaHelper('content', article.content)}
	];

	let xhtml = createFormHelper(elementsForm);
%>

<div class="card card-info card-outline">
	<form action="<%= linkPrefix %>save/" method="POST" class="mb-0" enctype="multipart/form-data" name="form-upload">
		<div class="card-body">
			<%- xhtml %>
		</div>
		<div class="card-footer">
			<div class="col-12 col-sm-8 offset-sm-2">
				<input class="form-control" name="id" value="<%= article.id %>" type="hidden" >
				<input name="thumb_old" value="<%= article.thumb %>" type="hidden"  />
				<input class="form-control" name="category_name" value="<%= article.category_name %>" type="hidden" >
				<button type="submit" class="btn btn-sm btn-success mr-1"> Submit</button>
				<a href="<%= linkPrefix %>" class="btn btn-sm btn-danger mr-1"> Cancel</a>
			</div>
		</div>
	</form>
</div>