<% include ./../../helpers/format-date %>
<% include ./../../helpers/get-src %>
<% include ./../../helpers/get-summary %>

<div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
    <div>
        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4 fs-250">Tin tức tổng hợp</div>
    </div>
    <% itemsRSS.forEach( (item) => { %>
    <div class="row pb-4">
        <div class="col-md-5">
            <div class="fh5co_hover_news_img">
                <div class="fh5co_news_img"><img src="<%= getSrc(item.description) %>" alt="<%= item.title %>"/></div>
                <div></div>
            </div>
        </div>
        <div class="col-md-7 animate-box">
            <a href="<%= item.url %>" class="fh5co_magna py-2"> <%= item.title %> </a> <br>
            <a href="#" class="fh5co_mini_time py-3"> <%= formatDate(item.date) %> </a>
            <div class="fh5co_consectetur"> 
                <%- getSummary(item.description) %>
            </div>
        </div>
    </div>
    <% }) %>
</div>