<% 
    const linkPrefix      = systemConfig.prefixShop + '/';
    const linkSubscribe      = systemConfig.prefixShop + '/subscribe';
%>
<% include ./../helpers/format-summary %>
<div class="ps-subscribe">
  <div class="ps-container">
    <div class="row">
      <div class="col-lg-3 col-md-7 col-sm-12 col-xs-12 ">
        <h4 style="color: aliceblue;"><i class="fa fa-envelope"></i>&nbsp;Sign up to Newsletter</h4>
      </div>
      <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 ">
        <span data-alertid="example"></span>
        <form class="ps-subscribe__form" action="<%= linkSubscribe %>" method="POST">
          <input class="form-control" type="text" id="email-subscribe" name='email' placeholder="Enter your email...">
          <button>Subscribe now</button>
        </form>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
        <p>...and receive  <span>$20</span>  coupon for first shopping.</p>
      </div>
    </div>
  </div>
</div>
<div class="ps-footer bg--cover" data-background="">
  <div class="ps-footer__content">
    <div class="ps-container">
      <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 ">
          <aside class="ps-widget--footer ps-widget--info">
            <header>
              <h3 class="ps-widget__title">Address Office</h3>
            </header>
            <footer>
              <p><strong><%= webConfig.address %></strong></p>
              <p>Email: <a href='#'><%= webConfig.email %></a></p>
              <p>Phone: +<%= webConfig.hotline %></p>
            </footer>
          </aside>
          <hr>
          <aside class="ps-widget--footer ps-widget--info">
            <!-- <header>
              <h3 class="ps-widget__title">Address Office 2</h3>
            </header> -->
            <footer>
              <p><strong>5/2 Ho Van Long Street, Binh Tan District, Ho Chi Minh City</strong></p>
              <p>Email: <a href='#'>sonnnguyen3301@gmail.com</a></p>
              <p>Phone: +0708756525</p>
            </footer>
          </aside>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
          <aside class="ps-widget--footer ps-widget--link">
            <header>
              <h3 class="ps-widget__title">Find Our Website</h3>
            </header>
            <footer>
              <ul class="ps-list--link">
                <li><a href="<%= linkPrefix + 'promotion' %>">Promotions</a></li>
                <li><a href="<%= linkPrefix + 'blog/all' %>">Blog</a></li>
                <li><a href="<%= linkPrefix + 'orders-tracking' %>">Order Status</a></li> 
                <li><a href="<%= linkPrefix + 'about/' %>">About us</a></li>
                <li><a href="<%= linkPrefix + 'contact/' %>">Contact us</a></li>
              </ul>
            </footer>
          </aside>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 ">
          <aside class="ps-widget--footer ps-widget--link">
            <header>
              <h3 class="ps-widget__title">Event</h3>
            </header>
            <footer>
              <ul class="ps-list--link">
                <li><a href="<%= linkPrefix + 'event/new-releases' %>">New Releases</a></li>
                <li><a href="<%= linkPrefix + 'event/most-popular' %>">Most Popular</a></li>
                <li><a href="<%= linkPrefix + 'event/highly-rated-product' %>">Highly Rated Products</a></li>
                <li><a href="<%= linkPrefix + 'event/flash-sale' %>">Flash Sale</a></li>
                <li><a href="<%= linkPrefix + 'event/best-sellers' %>">Best Sellers</a></li>
                <li><a href="<%= linkPrefix + 'event/trending-product' %>">Now Trending</a></li>
                <li><a href="<%= linkPrefix + 'blog/trending' %>">Fashion News</a></li>
              </ul>
            </footer>
          </aside>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
          <aside class="ps-widget--footer ps-widget--link">
            <header>
              <h3 class="ps-widget__title">Others Products</h3>
            </header>
            <footer>
              <ul class="ps-list--line">
                <% itemsClothingCategory.forEach ( (item)=>{ %>
                  <li><a href="<%= linkPrefix + 'category/clothing?slug=' + item.slug %>"><%= item.name %></a></li>
                <% }) %>
              </ul>
            </footer>
          </aside>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
          <aside class="ps-widget--footer ps-widget--link">
            <header>
              <h3 class="ps-widget__title">Brand</h3>
            </header>
            <footer>
              <ul class="ps-list--line">
                <% itemsBrand.forEach ( (item)=>{ %>
                  <li><a href="<%= linkPrefix + 'category/trademark?brand=' + item.slug %>"><%= item.name %></a></li>
                <% }) %>
              </ul>
            </footer>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="ps-footer__copyright">
    <div class="ps-container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
          <p>&copy; <%= webConfig.name_website %>, Inc. All rights Reserved</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
          <ul class="ps-social">
            <li><a href="<%= webConfig.facebook %>" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="<%= webConfig.instagram %>" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="<%= webConfig.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="<%= webConfig.instagram %>" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>