<% include ./../../helpers/view-status %>
<% include ./../../helpers/timeline-status %>

<% 
  const folder_uploads = "uploads/shoes/"; 
  const linkPrefix = systemConfig.prefixShop + '/';
%>

<div class="ps-checkout pt-80 pb-80">
	<div class="ps-container">
		<div class="card-header">
			<h3>Search order</h3>
			<aside class="ps-widget--sidebar ps-widget--search">
				<form class="ps-search--widget" action="/orders-tracking" method="get">
				  <input class="form-control" name="code" value="<%= query %>" type="text" placeholder="ID your order..." style="border-radius:5px;height: 50px;">
				  <button type="button"><i class="ps-icon-search"></i></button>
				</form>
			</aside>
		</div>
		<hr>
		<% if(item.length > 0) { item = item[0]; %>
			<div class="card-body">
				<h5>Order ID: <%= item.code %></h5>
				<div class="card">
					<div class="card-body row border">
						<div class="col-md-3"> <strong>Customer name:</strong> <br> <%= item.user.first_name + ' ' + item.user.last_name %> | <i class="fa fa-phone"></i> <%= item.user.phone %> </div>
						<div class="col-md-3"> <strong>Address:</strong> <br> <%= item.user.address %> </div>
						<div class="col-md-3"> <strong>Status:</strong> <br> <%= viewStatusHelper(systemConfig.orders_state_value, item.status) %> </div>
						<div class="col-md-3"> <strong>Total cost:</strong> <br> $ <%= item.total %> </div>
					</div>
				</div>
				<hr>
				<div class="row shop-tracking-status">
					<div class="col-md-12">
						<div class="well">
							<div class="order-status">
								<div class="order-status-timeline">
									<!-- class names: c0 c1 c2 c3 and c4 -->
									<div class="order-status-timeline-completion c<%= timelineStatusHelper(systemConfig.orders_state_value, item.status) %>"></div>
								</div>
								<div class="image-order-status image-order-status-new active img-circle">
									<span class="status">Accepted</span>
									<div class="icon"></div>
								</div>
								<div class="image-order-status image-order-status-active active img-circle">
									<span class="status">In progress</span>
									<div class="icon"></div>
								</div>
								<div class="image-order-status image-order-status-intransit active img-circle">
									<span class="status">Shipped</span>
									<div class="icon"></div>
								</div>
								<div class="image-order-status image-order-status-delivered active img-circle">
									<span class="status">Delivered</span>
									<div class="icon"></div>
								</div>
								<div class="image-order-status image-order-status-completed active img-circle">
									<span class="status">Completed</span>
									<div class="icon"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<ul class="row">
					<% item.product.forEach( (product) => { %>
					<li class="col-md-4">
						<figure class="itemside mb-3">
							<div class="aside"><img src="<%= folder_uploads + product.thumb %>" class="img-sm border" style="width:120px;height:120px;padding:0px;"></div>
							<figcaption class="info align-self-center">
								<p class="title"><%= product.name %> <br> Size: <%= product.size %> <br> Quantity: <%= product.quantity %>  </p> <span class="text-muted">$<%= product.price %> </span>
							</figcaption>
						</figure>
					</li>
					<% }) %>
				</ul>
				<hr>
				<a href="<%= linkPrefix %>/category" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Continue shopping</a>
			</div>
		<% } %>
	</div>
</div>
